*.aux
assignment_02/Portofolio/presentation/main.log
*.nav
assignment_02/Portofolio/presentation/main.out
*.snm
assignment_02/Portofolio/presentation/main.toc
*.log
assignment_03/report/main.out
assignment_03/report/main.pdf